body {
     background-color: antiquewhite;
    display: flex; /
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    }

.container {
    background-color: white;
    text-align: center;
    margin: 20px auto;
    font-family: Candara;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgb(255, 213, 159);
    box-shadow: 0px 4px 15px rgba(179, 151, 30, 0.144); 
    max-width: 90%;
}
button {

    font-family: monospace;
    font-size: 20px;
    background-color: #ffd398;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid rgba(43, 38, 19, 0.144);
    box-shadow: 0px 4px 15px rgba(43, 38, 19, 0.144);
    transition-duration: 0.4s;
}
input {
    all: unset;
    font-size: 20px;
    border: 2px solid rgba(54, 43, 1, 0.144);
}
button:hover {
    background-color: #ffbc64;
}
img {
    padding: 20px;
}